<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat-Da-Burger!</title>

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
	<link rel="stylesheet" href="./assets/css/burger_style.css" type="text/css" />

	<link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>

	<img src="./assets/img/hamburger1.png" width="300px" id="burger-img">

	{{{ body }}}


</body>

</html>