body {
    font-family: 'Patrick Hand', cursive;
}
.subtitle, h1  {
    text-align: center;
}

img {
    margin: auto;
    display: block;
}

p {
    font-size: 1.5em;
}

button {
    border-radius: 5px;
    font-size: 1em;
}

